{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' type='text/css' href="{% static 'styles/home.css' %}">
</head>
<body>
    <div class='search'>
        <h1>Dictionary</h1>
        <p>Search Your Word And Fetch The Meaning</p>
        <form action='/' method='post' autocomplete="off">
            {% csrf_token %}
            <input type='text' placeholder="Enter Word Here" name='searchword'>
            <button type="submit">Search</button>
        </form>
    </div>
    <div class='result'>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>